@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .containerxl{
        max-width: 1280px;
        margin: 0 auto;
    }
    .containerlg{
        max-width: 1024px;
        margin: 0 auto;
    }
    .containermd{
        max-width: 768px;
        margin: 0 auto;
    }
    .containersm{
        max-width: 640px;
        margin: 0 auto;
    }
}

@layer utilities{
    .themeblack{
        color: #212832;
    }
    .font17{
        font-size: 17px;
    }
    .themeorange{
        color: #DF6951;
    }
    .themeorangebg{
        background-color: #DF6951;
    }
    .themeblue{
        color: #181E4B;
    }
    .themedesc{
        color: #5E6282
    }
    .themeyellowbg{
       background: #F1A501;
    }
    .text-7xl{
        font-size: 80px;
    }
    .poppins{
        font-family: 'Poppins', sans-serif;
    }
    .volkhov{
        font-family: 'Volkhov', serif;
    }
}